<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top layout">
        <div class="col-lg-3">
            <img src="~/image/logo.png" width="150"/>
        </div>
        <div class="col-lg-6">
            @Html.Partial("_SearchBar")
        </div>
        <div class="col-lg-3" align="right">
            <button class="btn btn-secondary rounded-circle"><b>LOG OUT</b></button>
        </div>
    </div>
    <hr />
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
