
@using ItlizeProject1.Models
@model ItlizeProject1.ViewModel.SearchResultVM
@{
    ViewBag.Title = "bootstrap";
}

<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>
        td {
            border: 2px solid black;
            text-align: center;
        }

        label {
            font-weight: bold;
            font-size: 14px;
        }

        .detail_div {
            text-align: center;
        }

        .brand_label {
            margin-left: 40px;
            margin-right: 10px;
        }

        .brand_options {
            display: inline;
            vertical-align: center;
        }

        .div_two_inputs {
            text-align: center;
        }

        p {
            text-align: center;
            align-items: center;
        }

        .min_max_input {
            width: 50px;
        }

        #mainbody {
            width: 100%;
            height: 100%;
        }

        #filter_left_container {
            width: 15%;
        }

        #search_result {
            width: 75%;
        }

        table {
            border: 1px solid black;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

            .collapsible:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

        .active:after {
            content: "\2212";
        }

        .content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

        input {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div>
        <div id="mainbody" class="row" style="border: 1px solid ghostwhite; margin-top: 100px ">

            <div id="filter_left_container" class="col-2">
                <table id="filter_left">
                    <tr>
                        <td class="filter_td">
                            <label style="margin-left: 5px"> Search:</label>
                            <button id="button_save" style="margin-left: 35px">
                                Save
                            </button>
                            <button id="button_clear" style="margin-left: 5px">
                                Clear
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="filter_td">
                            <button class="collapsible">Product Type</button>
                            <div class="content">
                                <p>
                                    Model Year<br />
                                    <div class="div_two_inputs" style="text-align: center">
                                        <input type="number" class="min_max_input search" id="model_year_min" style="width: 50px">
                                        -
                                        <input type="number" class="min_max_input search" id="model_year_max" style="width: 50px">
                                    </div>
                                </p>
                                <p>
                                    Use Type<br />
                                    <select id="use_type" class="search">
                                        <option value="Commercial" class="search">Commercial</option>
                                        <option value="Industrial" class="search">Industrial</option>
                                        <option value="Residential" class="search">Residential</option>
                                    </select>
                                </p>
                                <p>
                                    Application<br />
                                    <select id="application">
                                        <option value="Indoor" class="search">Indoor</option>
                                        <option value="Outdoor" class="search">Outdoor</option>
                                    </select>
                                </p>
                                <p>
                                    Mounnting Location<br />
                                    <select id="mounting_location">
                                        <option value="Roof" class="search">Roof</option>
                                        <option value="Wall" class="search">Wall</option>
                                        <option value="Free Standing" class="search">Free Standing</option>
                                    </select>
                                </p>
                                <p>
                                    Accessories<br />
                                    <select id="accessories">
                                        <option value="With light" class="search">With light</option>
                                        <option value="Without light" class="search">Without light</option>
                                    </select>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="filter_td">
                            <button class="collapsible">Technical Specifications</button>
                            <div class="content">
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Air Flow (CFM)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="airflow_min" />
                                        Max <input type="number" class="min_max_input search" id="airflow_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Max Power (W)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="maxpower_min" />
                                        Max <input type="number" class="min_max_input search" id="maxpower_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Max Operating Voltage</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="maxoperatingvoltage_min" />
                                        Max <input type="number" class="min_max_input search" id="maxoperatingvoltage_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Max Fun Speed (RPM)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="maxfunspeed_min" />
                                        Max <input type="number" class="min_max_input search" id="maxfunspeed_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Number of Fan Speeds</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="numberoffunsppeds_min" />
                                        Max <input type="number" class="min_max_input search" id="numberoffunsppeds_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Sound at Max Speed (dBA)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="soundatmaxspeed_min" />
                                        Max <input type="number" class="min_max_input search" id="soundatmaxspeed_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Fun sweep diameter (in)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="funsweepdiameter_min" />
                                        Max <input type="number" class="min_max_input search" id="funsweepdiameter_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Height (in)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="height_min" />
                                        Max <input type="number" class="min_max_input search" id="height_max" />
                                    </div>
                                </p>
                                <p>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i> Weight (lbs)</span>
                                    <div class="div_two_inputs">
                                        Min <input type="number" class="min_max_input search" id="weight_min" />
                                        Max <input type="number" class="min_max_input search" id="weight_max" />
                                    </div>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="filter_td">
                            <button class="collapsible">Brand</button>
                            <div class="content">
                                <div id="brand_options">
                                    <label class="brand_label">Samsung</label><input type="checkbox" class="brand_options search" value="Samsung" /><br />
                                    <label class="brand_label">Sony</label><input type="checkbox" class="brand_options search" value="Sony" /><br />
                                    <label class="brand_label">ACDC</label><input type="checkbox" class="brand_options search" value="ACDC" /><br />
                                    <label class="brand_label">Disney</label><input type="checkbox" class="brand_options search" value="Disney" /><br />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="search_result" class="col-10" style="display: inline-block; border: 1px solid black">

                <!-- Button to trigger modal -->
                <div>
                    <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal" style="margin-left: 30px" onclick="onclick_event()"><label>I SUPER WANNA COMPARE!</label></a>
                </div>

                <!-- Modal -->
                <div id="myModal" class="modal hide" tabindex="-1" role="dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Product Comparison</h3>
                        </div>

                        <div class="modal-body">

                            <table>
                                <tr>
                                    <td></td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        <td class="@p.Product_ID"><img src="~/image/@p.Product_Image" style="width:250px;height:200px;" /></td>
                                    }
                                </tr>
                                <tr bgcolor="#FF0000">
                                    <td>
                                        <label>DESCRIPTION</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        <td class="@p.Product_ID">@p.Product_Name</td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Brand</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Property pp in Model.Properties)
                                        {
                                            if (p.Product_ID == pp.Product_ID && pp.Property_Name == "Brand")
                                            {
                                                <td class="@p.Product_ID">@pp.Property_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Series</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        <td class="@p.Product_ID">@p.Series</td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Model</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        <td class="@p.Product_ID">@p.Model</td>
                                    }
                                </tr>
                                <tr bgcolor="#FF0000">
                                    <td>
                                        <label>Type</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        <td class="@p.Product_ID"></td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Use Type</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Property pp in Model.Properties)
                                        {
                                            if (p.Product_ID == pp.Product_ID && pp.Property_Name == "Use Type")
                                            {
                                                <td class="@p.Product_ID">@pp.Property_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Application</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Property pp in Model.Properties)
                                        {
                                            if (p.Product_ID == pp.Product_ID && pp.Property_Name == "Application")
                                            {
                                                <td class="@p.Product_ID">@pp.Property_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Mounting Location</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Property pp in Model.Properties)
                                        {
                                            if (p.Product_ID == pp.Product_ID && pp.Property_Name == "Mounting Location")
                                            {
                                                <td class="@p.Product_ID">@pp.Property_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Accessories</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Property pp in Model.Properties)
                                        {
                                            if (p.Product_ID == pp.Product_ID && pp.Property_Name == "Accessories")
                                            {
                                                <td class="@p.Product_ID">@pp.Property_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Model Year</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Property pp in Model.Properties)
                                        {
                                            if (p.Product_ID == pp.Product_ID && pp.Property_Name == "Model Year")
                                            {
                                                <td class="@p.Product_ID">@pp.Property_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr bgcolor="#FF0000">
                                    <td>
                                        <label>Technical Specifications</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        <td class="@p.Product_ID"></td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Air Flow (CFM)</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Technical_Specification ts in Model.TechnicalSpecifications)
                                        {
                                            if (p.Product_ID == ts.Product_ID && ts.Tech_Spec_Name == "Air Flow (CFM)")
                                            {
                                                <td class="@p.Product_ID">@ts.Tech_Spec_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>MAX Power (W)</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Technical_Specification ts in Model.TechnicalSpecifications)
                                        {
                                            if (p.Product_ID == ts.Product_ID && ts.Tech_Spec_Name == "MAX Power (W)")
                                            {
                                                <td class="@p.Product_ID">@ts.Tech_Spec_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Max Operating Voltage (VAC)</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Technical_Specification ts in Model.TechnicalSpecifications)
                                        {
                                            if (p.Product_ID == ts.Product_ID && ts.Tech_Spec_Name == "Max Operating Voltage (VAC)")
                                            {
                                                <td class="@p.Product_ID">@ts.Tech_Spec_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label>Max Fan Speed (RPM)</label>
                                    </td>
                                    @foreach (Product p in Model.Products)
                                    {
                                        foreach (Technical_Specification ts in Model.TechnicalSpecifications)
                                        {
                                            if (p.Product_ID == ts.Product_ID && ts.Tech_Spec_Name == "Max Fan Speed (RPM)")
                                            {
                                                <td class="@p.Product_ID">@ts.Tech_Spec_Value</td>
                                            }
                                        }
                                    }
                                </tr>
                            </table>

                        </div>

                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>>
                        </div>
                    </div>
                </div>







                <div id="result_table">

                    @foreach (Product p in Model.Products)
                    {
                        <div class="search_result" style="width: 250px; border: 1px solid black; display: inline-block; margin-left: 30px; margin-top: 25px">
                            <div class="detail_div">
                                <img src="~/image/@p.Product_Image" style="width:250px;height:200px;" />
                            </div><br />
                            <div class="detail_div"><label>@p.Product_Name</label></div>
                            <div class="detail_div"><label>Model:</label> @p.Model</div>
                            <div class="detail_div"><label>Series: </label> @p.Series</div>
                            @foreach (Property pp in Model.Properties)
                            {
                                if (pp.Product_ID == p.Product_ID && (pp.Property_Name == "Model Year" || pp.Property_Name == "Brand"))
                                {
                                    <div class="detail_div"><label>@pp.Property_Name:</label>  <div class="@pp.Property_Name" style="display: inline-block">@pp.Property_Value</div></div>
                                }
                            }
                            @foreach (Technical_Specification ts in Model.TechnicalSpecifications)
                            {
                                if (ts.Product_ID == p.Product_ID &&
                                    (ts.Tech_Spec_Name == "Air Flow (CFM)"
                                     || ts.Tech_Spec_Name == "MAX Power (W)"
                                     || ts.Tech_Spec_Name == "Max Operating Voltage (VAC)"
                                     || ts.Tech_Spec_Name == "Max Fan Speed (RPM)"))
                                {
                                    <div class="detail_div"><label>@ts.Tech_Spec_Name:</label>  <div id="@ts.Tech_Spec_Name" style="display: inline-block">@ts.Tech_Spec_Value</div></div>
                                }
                            }
                            <br />
                            <div class="row">
                                <div class="col-3">
                                    <label>Compare</label>
                                </div>
                                <div class="col-2">
                                    <input type="checkbox" class="compare_cbs" value="@p.Product_ID" style="display: inline-block" />
                                </div>
                                <div class="col-7" style="text-align: right; display: inline-block">
                                    <a name="getd" href="/SearchResult/direct" type="button" class="btn btn-success" value="@p.Product_ID">Product Detail</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>


        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

        function onclick_event() {
            $(document).ready(function () {
                $(".compare_cbs").each(function () {
                    if ($(this).prop("checked") == true) {
                        var cname = $(this).val().toString();
                        $('.' + cname).show();
                    }
                    else if ($(this).prop("checked") == false) {
                        var cname = $(this).val();
                        $('.' + cname).hide();
                    }
                });
            });
        }

        $(document).ready(function () {
            $(".search").keyup(function () {
                var model_year_min = Number(document.getElementById("model_year_min").value);
                var model_year_max = Number(document.getElementById("model_year_max").value);

                var air_flow_min = Number(document.getElementById("airflow_min").value);
                var air_flow_max = Number(document.getElementById("airflow_max").value);
                var max_power_min = Number(document.getElementById("maxpower_min").value);
                var max_power_max = Number(document.getElementById("maxpower_max").value);
                var max_operating_voltage_min = Number(document.getElementById("maxoperatingvoltage_min").value);
                var max_operating_voltage_max = Number(document.getElementById("maxoperatingvoltage_max").value);
                var max_fun_speed_min = Number(document.getElementById("maxfunspeed_min").value);
                var max_fun_speed_max = Number(document.getElementById("maxfunspeed_max").value);


                $('.search_result').each(function () {
                    var detail = Array.from($(this).find(".detail_div"));
                    var model_year = Number(detail[4].childNodes[2].innerText);
                    var air_flow = Number(detail[6].childNodes[2].innerText);
                    var max_power = Number(detail[7].childNodes[2].innerText);
                    var max_operating_voltage = Number(detail[8].childNodes[2].innerText);
                    var max_fun_speed = Number(detail[9].childNodes[2].innerText);

                    if ((model_year_max == 0 || model_year <= model_year_max) && (model_year_min == 0 || model_year >= model_year_min)
                        && (air_flow_max == 0 || air_flow <= air_flow_max) && (air_flow_min == 0 || air_flow >= air_flow_min)
                        && (max_power_max == 0 || max_power <= max_power_max) && (max_power_min == 0 || max_power >= max_power_min)
                        && (max_operating_voltage_max == 0 || max_operating_voltage <= max_operating_voltage_max) && (max_operating_voltage_min == 0 || max_operating_voltage >= max_operating_voltage_min)
                        && (max_fun_speed_max == 0 || max_fun_speed <= max_fun_speed_max) && (max_fun_speed_min == 0 || max_fun_speed >= max_fun_speed_min)
                    ) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>

</body>
</html>

