@model ItlizeProject1.ViewModel.ProductSummary
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Summary">Product Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Details">Product Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Documentation">Product Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Contact">Contact</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="Summary" class="container tab-pane active">
            <br>
            <h3>Product Summary-@Model.Pdt.Product_Name </h3>
            <table class="table1">
                <tr class="Phead"><th colspan="2"> @Html.Label("DESCRIPTION")</th></tr>
                <tr><td class="Plabel">@Html.Label("Manufacturer")</td><td>@Html.DisplayFor(x => x.Pdt.Manufacturer_ID)</td></tr>
                <tr><td class="Plabel">@Html.Label("Series")</td><td>@Html.DisplayFor(x => x.Pdt.Series)</td></tr>
                <tr><td class="Plabel">@Html.Label("Model")</td><td>@Html.DisplayFor(x => x.Pdt.Model)</td></tr>
                <tr class="Phead"><th colspan="2">@Html.Label("TYPE")</th></tr>
                @foreach (var item in Model.properties)
                {
                    <tr>
                        <td class="Plabel">@Html.DisplayFor(y => item.Property_Name)</td>
                        <td>@Html.DisplayFor(y => item.Property_Value)</td>
                    </tr>
                }
            </table>

            <table class="table1">
                <tr class="Phead"><th colspan="5">@Html.Label("TECHNICAL SPECIFICATIONS")</th></tr>
                @foreach (var item in Model.technical_Specifications)
                {
            <tr>
                <td class="Plabel">@Html.DisplayFor(x => item.Tech_Spec_Name)</td>
                <td>@Html.DisplayFor(x => item.Tech_Spec_Value)</td>
            </tr>
                }
            </table>
        </div>
        <div id="Details" class="container tab-pane fade">
            <br>
            <h3>Product Details-@Model.Pdt.Product_Name </h3>
            @{ 
                char[] chs = { '/' };
                string[] Details = Model.Pdt.Product_Detail.Split(chs, options: StringSplitOptions.RemoveEmptyEntries);
            }
        <table class="table2 table table-striped">
                @foreach (var item in Details)
                {
                <tr>
                    <td>@Html.DisplayFor(x => item)</td>
                </tr>
                }
        </table>
        </div>
        <div id="Documentation" class="container tab-pane fade">
            <br>
            <h3>Product Documentation-@Model.Pdt.Product_Name </h3>
                @foreach (var item in Model.documents)
                {
                    var a = item.Document_Path.Substring(item.Document_Path.Length - 3);
                    var b = item.Document_Path.Substring(0, item.Document_Path.Length - 4);
                    var c = "../../image/" + a + ".png";
                    var d = b + "(" + a + ")";
                    var e = "../Document/" + item.Document_Path;
                    <div class="document"><img src="@c"  onerror="this.src='../../image/unknown.png'" alt="type"> <a href=@e >@d</a></div>
                }
        </div>
        <div id="Contact" class="container tab-pane fade">
            <br>
            <h3>Contact-@Model.Pdt.Product_Name </h3>
            <table class="table1">
                <tr class="Phead"><th colspan="2">@Html.Label("SALES REPRESENTATIVE")</th></tr>
                <tr>
                    <td class="Plabel">@Html.Label("Name")</td>
                    <td>@Html.DisplayFor(x => x.sale.User.User_LastName)@Html.DisplayFor(x => x.sale.User.User_FirstName)</td>
                </tr>
                <tr>
                    <td class="Plabel">@Html.Label("Phone")</td>
                    <td>@Html.DisplayFor(x => x.sale.User.User_Phone)</td>
                </tr>
                <tr>
                    <td class="Plabel">@Html.Label("Email")</td>
                    <td>@Html.DisplayFor(x => x.sale.User.User_Email)</td>
                </tr>
                <tr>
                    <td class="Plabel">@Html.Label("Web")</td>
                    <td><a href=@Model.sale.Website>@Model.sale.Website</a></td>
                </tr>
            </table>

            <table class="table1">
                <tr class="Phead"><th colspan="2">@Html.Label("MANUFACTURER")</th></tr>
                <tr>
                    <td class="Plabel">@Html.Label("Department")</td>
                    <td>@Html.DisplayFor(x => x.department.Department_Name)</td>
                </tr>
                <tr>
                    <td class="Plabel">@Html.Label("Phone")</td>
                    <td>@Html.DisplayFor(x => x.Maf.User.User_Phone)</td>
                </tr>
                <tr>
                    <td class="Plabel">@Html.Label("Email")</td>
                    <td>@Html.DisplayFor(x => x.Maf.User.User_Email)</td>
                </tr>
                <tr>
                    <td class="Plabel">@Html.Label("Web")</td>
                    <td><a href=@Model.Maf.Website>@Model.Maf.Website</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

